<p>Page: 
	{% for i in range(1,pages+1) %}
		<a href="#" class="page_link" page_num="{{i}}">{{i}}</a> 
	{% endfor %}
</p>

<p><input type="number" placeholder="page" id="page_num" value={{page_num}}><button id="select_page">Go!</button></p>

{% for note in notes %}
	<div class="note">
		<h3>{{ note.title }}</h3>
		<textarea note_id="{{note.id}}" name="description" class="edit_note" rows=8 width=40>{{ note.description }}</textarea>
		<p><a class="delete" note_id="{{note.id}}" href="#">(delete)</a></p>
	</div>
{% endfor %}