<!DOCTYPE html>
<html>
	<head>
		<title>QuotingDojo</title>
	</head>
	<body>
		<h1>Welcome to QuotingDojo</h1>
		<form action="/quotes" method="post">
			<p>Your name: <input type="text" name="name"></p>
			<p>Your quote:</p>
			<textarea rows=6 cols=60 name="quote"></textarea>
			<p><input type="submit" value="Add!"></p>
		</form>
		<a href="/quotes">Skip directly to quotes</a>
	</body>
</html>