<!DOCTYPE html>
<html>
	<head>
		<title>Group Chat</title>
		<style type="text/css">
			body{
				text-align: center;
			}
			#chat{
				width: 400px;
				height: 400px;
				border: 2px solid black;
				overflow: scroll;
				margin: auto;
				text-align: left;
			}

			#post{
				margin-top: 15px;
			}
		</style>
		<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				
				var name

				while(!name){
					name = prompt("Your name:")
				}

				var socket = io.connect()

				$("#post").submit(function(e){
					socket.emit("post", {name: name, post: $("#share").val()})
					e.preventDefault()
				})

				socket.on("update_history", function(data){
					console.log(data)
					$("#chat").html("<table>")
					for(var i = 0; i < data.history.length; i++){
						$("#chat").append(`<tr><td>${data.history[i].name}:</td><td>${data.history[i].post}</td>`)
					}
					$("#chat").append("</table>")

				})

			})
		</script>
	</head>
	<body>
		<h3>Conversation Board</h3>
		<div id="chat">
		</div>
		<form id="post">
			<input type="text" id="share"><input type="submit">
		</form>
	</body>
</html>